[submodule "3rdparty/gtest"]
	path = 3rdparty/gtest
	url = git@ipads.se.sjtu.edu.cn:xpu-os/utils/googletest.git
[submodule "3rdparty/interprocess"]
	path = 3rdparty/boost/interprocess
	url = https://github.com/boostorg/interprocess.git
[submodule "3rdparty/boost/assert"]
	path = 3rdparty/boost/assert
	url = https://github.com/boostorg/assert.git
[submodule "3rdparty/boost/config"]
	path = 3rdparty/boost/config
	url = https://github.com/boostorg/config.git
[submodule "3rdparty/boost/intrusive"]
	path = 3rdparty/boost/intrusive
	url = https://github.com/boostorg/intrusive.git
[submodule "3rdparty/boost/move"]
	path = 3rdparty/boost/move
	url = https://github.com/boostorg/move.git
[submodule "3rdparty/boost/container"]
	path = 3rdparty/boost/container
	url = https://github.com/boostorg/container.git
[submodule "3rdparty/boost/winapi"]
	path = 3rdparty/boost/winapi
	url = https://github.com/boostorg/winapi.git
[submodule "3rdparty/boost/predef"]
	path = 3rdparty/boost/predef
	url = https://github.com/boostorg/predef.git
